[Unit]
Description=dynamic-wall timer

[Timer]
OnBootSec=10
OnCalendar=*:0/45
Persistent=true
Unit=dynamicwall.service

[Install]
WantedBy=timers.target
