[Unit]
Description=ForwardNotifierServer
After=network-online.target

[Service]
ExecStart=%h/.zinit/polaris/bin/ForwardNotifierServer.py
Environment="DISPLAY=:0" "XAUTHORITY=%h/.Xauthority"
Restart=always

[Install]
WantedBy=default.target
