[Unit]
Description=Gebaar restarter

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user is-active --quiet gebaard && /usr/bin/systemctl --user restart gebaard.service
SuccessExitStatus=0 3

[Install]
WantedBy=default.target
