[Unit]
Description=Gebaar Daemon
Documentation=https://github.com/NICHOLAS85/gebaar-libinput

[Service]
ExecStart=/usr/local/bin/gebaard
Environment=DISPLAY=:0
Restart=always

[Install]
WantedBy=graphical.target
