[Unit]
Description=Gebaar Daemon
Documentation=https://github.com/Coffee2CodeNL/gebaar-libinput

[Service]
ExecStartPre=/usr/bin/cp -f %h/.config/gebaar/gebaard.toml-tablet %h/.config/gebaar/gebaard.toml
ExecStart=/usr/local/bin/gebaard-tablet
Environment=DISPLAY=:0
Restart=always

[Install]
WantedBy=default.target
