[Desktop Entry]
Comment[en_US]=
Comment=
Exec=xinput set-prop "Wacom HID 4833 Finger touch" 'Coordinate Transformation Matrix' 1.00102214650766609880 0 -.00374787052810902896 0 1.00440796473628210974 -.00942392460860313117 0 0 1; xinput set-prop "DLL077A:01 06CB:76AF Touchpad" "libinput Tapping Enabled" 1\n
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=
Name=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
