/* Fix colors on autofill options for input boxes */
#PopupAutoComplete > richlistbox {
    background-color: #2d2d2d !important;
}

#PopupAutoComplete > richlistbox > richlistitem {
    color: #ffffff !important;
    background-color: #2d2d2d !important;
}

#PopupAutoComplete > richlistbox > richlistitem:hover {
    background-color: #222222 !important;
    /*border-color: hsla(0, 0%, 0%, 0.1);*/
}

#PopupAutoComplete > richlistbox > richlistitem:active {
    background-color: #1e1e1e !important; 
