"*":
  "atom-beautify":
    executables:
      beautysh:
        path: "/home/nicholas/.local/bin/beautysh"
  "atom-html-preview":
    scrollToCursor: true
  "atom-material-ui":
    colors:
      abaseColor: "#607d8b"
      predefinedColor: "Blue Grey"
    tabs:
      compactTabs: true
      noTabMinWidth: true
    ui:
      panelContrast: true
      panelShadows: true
  "autoclose-html":
    forceBlock: [
      "head"
      "select"
    ]
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "p"
      "th"
      "option"
    ]
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "fuzzy-finder"
      "archive-view"
      "package-generator"
      "teletype"
      "markdown-preview"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Fira Code, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 15
    preferredLineLength: 200
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "7ae3d57e-5be1-4594-ac5c-7890318c4cd2"
  "file-icons":
    onChanges: true
  "git-blame":
    colorCommitAuthors: true
    showFirstNames: false
    showHash: false
  github: {}
  linter: {}
  "linter-eslint":
    disabling:
      disableWhenNoEslintConfig: false
    global:
      globalNodePath: "/usr/local"
  "linter-gcc":
    gccDebug: true
    gccLintOnTheFly: true
  "linter-gcc2":
    gccIncludePaths: " ./src/public.h"
    gccLintOnTheFly: true
  "linter-shellcheck":
    userParameters: "-x"
  "linter-stylelint":
    disableWhenNoConfig: false
    useStandard: true
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    decorateOnTreeView: "None"
    showPanel: true
    showProviderName: true
  "linter-vnu":
    vnuUrl: "http://localhost:8844"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    syntaxThemeName: "atom-dark-syntax"
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
    scrollAnimation: true
  "minimap-autohider":
    VisiblePercentage: 25
  "minimap-linter":
    markerTypeInfo: "off"
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "File"
    style:
      theme: "one-dark"
  "preview-plus":
    htmlp: true
    livePreview: true
    webview: false
  "pull-request": {}
  "tree-view-sort":
    type: 7
  welcome:
    showOnStartup: false
