[Desktop Entry]
Categories=Utility;
Comment[en_US]=Keyboard and mouse sharing solution
Comment=Keyboard and mouse sharing solution
Exec=xbindkeys -f ~/Scripts/tools/barrier && barrier && killall xbindkeys
GenericName[en_US]=
GenericName=
Icon=barrier
Keywords=keyboard;mouse;sharing;network;share;
MimeType=
Name[en_US]=Barrier
Name=Barrier
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
